* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Login-container {
    width: 350px;
    height: 350px;
    padding: 20px 30px;
    border: 1px solid black;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    background-color: beige;
    box-shadow: 0px 0px 0px 2px black;
    gap: 10px;
}

.Login-container .Bar {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.Bar button {
    padding: 5px 20px;
    background-color: rgb(172, 170, 170);
    font-size: 16px;
    color: #fff;
}

.Login-container h1 {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    color: black;
}

.input-text {
    padding: 10px;
}

.Login-container input[type="text"] {
    width: 80%;
    padding: 5px 10px;
    outline: none;
    background-color: #fff;
    border: 1px solid black;
}

.Login-container input[type="password"] {
    width: 80%;
    padding: 5px 10px;
    outline: none;
    background-color: #fff;
    border: 1px solid black;
}

.password a {
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.btn {
    width: 50%;
    background-color: #fff;
    border: 1px solid black;
    font-size: 14px;
}

.btn:hover {
    background-color: #43a452;
}

::placeholder {
    color: black;
    font-size: 14px;
}

input[type="text"]:focus,
input[type="password"]:focus {
    background-color: yellow;
}

input[type="text"]:hover,
input[type="password"]:hover {
    border: 1px solid orange;
}

.password a:focus {
    color: blue;
}